{% set hours_path = hours_path|default(base_url_relative ~ '/demo') %}
{% if config.plugins.quando.enabled %}
	{% set labels = calendar.getMeta('labels') %}
{% endif %}

<div class="panel contacts">

	<!-- googleoff: index -->
	<div id="hours" class="highlight" rel="noindex">
		{% set open_ticker = 'Opening hours' %}
		{% if config.plugins.quando.enabled %}
			{% set open_ticker = include('partials/current_status.html.twig', { 'calendar': quando.opening }) %} {# TODO: deprecate service_status parameter, even though we just renamed it, as we'll derive it from calendar #}
		{% endif %}
		<h3><a href="{{ hours_path }}"{% if config.plugins.quando.enabled %} title="{{ (labels.all_hours ?: 'PLUGIN_QUANDO.ALL_SERVICE_HOURS')|t }}"{% endif %}>{{ open_ticker }}
		{%- if config.plugins.quando.enabled %}
			{% set open_now = quando.opening.available ? (labels.on ?: 'PLUGIN_QUANDO.OPEN')|t : (labels.off ?: 'PLUGIN_QUANDO.CLOSED')|t %}
			<span class="badge {{ open_now|lower }}">{{ open_now|capitalize }}</span>
		{% endif -%}</a></h3>
	</div>
	<!-- googleon: index -->

	<ul class="list">
		<li class="address">
			<a href="/about/location">
				<img class="icon pure-img" alt="Location: " src="{{ url('theme://images/open-iconic/svg/map-marker.svg') }}" />
				<address class="col-sm-offset-1">
					<strong>1313 Streetwise Road</strong><br/>
					Addressington<br/>
					<span class="sr-only">Donde</span>
				</address>
			</a>
		</li>

		<li class="phone">
			<a href="tel:+6431234567">
				<img class="icon pure-img" alt="Phone: " src="{{ url('theme://images/open-iconic/svg/phone.svg') }}" />
				<p class="tel">0800-EXAMPLE</p>
			</a>
		</li>

		<li class="message">
			<a href="/contact">
				<img class="icon pure-img" alt="Contact: " src="{{ url('theme://images/open-iconic/svg/envelope-closed.svg') }}" />
				<p class="action">Get in touch</p>
			</a>
		</li>

	</ul>

</div>
